@page "/"

<PageTitle>DT191G moment1 del 3 - Blazor WebbAssembly</PageTitle>
<!-- Startsideinnehåll - intro -->
<h2>Välkommen till trix och fix i Blazor WebAssembly</h2>

<p>Nemen hejsan! &#128075; <br>Varsågod att navigera runt litegrann och kolla på lite interaktion med Blazor<br><br>
   Ha de´ fint // Alice  </p>

