@inherits LayoutComponentBase
<!-- DT191G moment 1 del 3, Alice Fagerberg
        Layout
    -->
<header>
    <div id="logo"><a href="/"><h1>Blazorstuffin</h1></a></div>
</header>

<div class="container">

    <NavMenu />

    <main>
        <div class="content">
            @Body 
        </div>
    </main>
</div>

<footer>
    <p>2022, DT191G  moment 1 part 3 | Alice Fagerberg</p>
    <Feelings />
</footer>

