    <nav>
         <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/ConvertTasks">Konvertera</a></li>
            <li><a href="/ReadJson">Hämta JSON-data</a></li>
                
          </ul>
    </nav>
